*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #553cd3;
}
.container{
    width: 80%; 
    height: 80%; 
    position: absolute;
    top: 5%;
    left: 5%;
    transform: translate(-0%, -0%);
    box-shadow: 0 10px 20px black;
}
img{
    width: 100%; /* img width 856px */
    height: 100%; /* img height 1169px */
}
.overlay{
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    background: green;
    cursor: pointer;
}
.content{
    color: white;
    font-family: verdana;
    text-align: center;
}
.container:hover .overlay{
    opacity: 0.8;
}