*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #553cd3;
}
.container{
    width: 80%; 
    height: 80%; 
    position: relative;
    top: 5%;
    left: 5%;
    box-shadow: 0 10px 20px black;
}
.container-2{
  width: 15%;
  height: 8%;
  position: absolute;
  box-shadow: 0 10px 20px black;
  top: 23%;
  left: 25%;
}
img{
    width: 100%; /* img width 856px */
    height: 100%; /* img height 1169px */
}
.overlay{
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    background: green;
    cursor: pointer;
  position: absolute;
  vertical-align: middle;
  top: 10%;
  left: 0%;
  
}
.content{
    color: white;
    font-family: verdana;
    text-align: center;
}

.container-2:hover .overlay{
    opacity: 0.8;
}