*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    background: lightblue;
}

map{
    border: 4px solid black;
}

.overlay{
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(34, 3, 145, 0.0);
    width: 856px;
    height: 1169px;
    box-shadow: 0 10px 20px black;
}

.content{
    opacity: 0;
    position: absolute;
    height: 300px;
    width: 300px;
    top: 55%;
    left: 61%;
    background: rgba(34, 3, 145, 0.5);
    transition: opacity 0.4s ease-in-out;
    text-align: center;
    font-size: 50px;
    color: white;
    cursor: pointer;
}

.ParkingGarage{
    opacity: 0;
    position: absolute;
    cursor: pointer;
    text-align: center;
    top: 13.9%;
    left: 60.4%;
    width: 160px;
    height: 80px;
    background: rgba(245, 3, 3, 0.5);
    transition: opacity 0.4s ease-in-out;
}
.Cyprus{
    opacity: 0;
    position: absolute;
    cursor: pointer;
    text-align: center;
    top: 25.4%;
    left: 26%;
    width: 120px;
    height: 70px;
    background: rgba(245, 3, 3, 0.5);
    transition: opacity 0.4s ease-in-out;
}
.Louisiana{
    opacity: 0;
    position: absolute;
    cursor: pointer;
    text-align: center;
    top: 25%;
    left: 41.1%;
    width: 100px;
    height: 55px;
    background: rgba(245, 3, 3, 0.5);
    transition: opacity 0.4s ease-in-out;
}
.Govenors{
    opacity: 0;
    position: absolute;
    cursor: pointer;
    text-align: center;
    top: 28.7%;
    left: 56.3%;
    width: 110px;
    height: 120px;
    background: rgba(245, 3, 3, 0.5);
    transition: opacity 0.4s ease-in-out;
}
.WellnessCenter{
    opacity: 0;
    position: absolute;
    cursor: pointer;
    text-align: center;
    font-size: 12px;
    top: 26.7%;
    left: 70.7%;
    width: 72px;
    height: 115px;
    background: rgba(245, 3, 3, 0.5);
    transition: opacity 0.4s ease-in-out;
}
.Bienvenue{
    opacity: 0;
    position: absolute;
    cursor: pointer;
    text-align: center;
    top: 38.4%;
    left: 13%;
    width: 140px;
    height: 110px;
    background: rgba(245, 3, 3, 0.5);
    transition: opacity 0.4s ease-in-out;
}
.MagnoliaTheater{
    opacity: 0;
    position: absolute;
    cursor: pointer;
    text-align: center;
    font-size: 13px;
    top: 37.5%;
    left: 33.5%;
    width: 105px;
    height: 120px;
    background: rgba(245, 3, 3, 0.5);
    transition: opacity 0.4s ease-in-out;
}
.BRCCWarehouse{
    opacity: 0;
    position: absolute;
    cursor: pointer;
    text-align: center;
    top: 42.4%;
    left: 66.3%;
    width: 170px;
    height: 105px;
    background: rgba(245, 3, 3, 0.5);
    transition: opacity 0.4s ease-in-out;
}
.building9{
    opacity: 0;
    position: absolute;
    cursor: pointer;
    text-align: center;
    font-size: 12px;
    top: 56.7%;
    left: 18.9%;
    width: 80px;
    height: 115px;
    background: rgba(245, 3, 3, 0.5);
    transition: opacity 0.4s ease-in-out;
}
.Purchasing{
    opacity: 0;
    position: absolute;
    cursor: pointer;
    text-align: center;
    font-size: 5px;
    top: 65.3%;
    left: 36.4%;
    width: 40px;
    height: 30px;
    background: rgba(245, 3, 3, 0.5);
    transition: opacity 0.4s ease-in-out;
}
.FacilitiesIT{
    opacity: 0;
    position: absolute;
    cursor: pointer;
    text-align: center;
    font-size: 6px;
    top: 67.4%;
    left: 41.5%;
    width: 25px;
    height: 70px;
    background: rgba(245, 3, 3, 0.5);
    transition: opacity 0.4s ease-in-out;
}
.FacilitiesWarehouse{
    opacity: 0;
    position: absolute;
    cursor: pointer;
    text-align: center;
    font-size:5px;
    top: 70.9%;
    left: 36.4%;
    width: 40px;
    height: 30px;
    background: rgba(245, 3, 3, 0.5);
    transition: opacity 0.4s ease-in-out;
}
.CentralPlant{
    opacity: 0;
    position: absolute;
    cursor: pointer;
    text-align: center;
    font-size: 8px;
    top: 61.6%;
    left: 48.4%;
    width: 35px;
    height: 70px;
    background: rgba(245, 3, 3, 0.5);
    transition: opacity 0.4s ease-in-out;
}
.building14{
    opacity: 0;
    position: absolute;
    cursor: pointer;
    text-align: center;
    font-size: 8px;
    top: 67.7%;
    left: 21%;
    width: 65px;
    height: 45px;
    background: rgba(245, 3, 3, 0.5);
    transition: opacity 0.4s ease-in-out;
}

.overlay:hover .content{
    opacity: 1;
}

.ParkingGarage:hover{
    opacity: 1;
}
.Cyprus:hover{
    opacity: 1;
}
.Louisiana:hover{
    opacity: 1;
}
.Govenors:hover{
    opacity: 1;
}
.WellnessCenter:hover{
    opacity: 1;
}
.Bienvenue:hover{
    opacity: 1;
}
.MagnoliaTheater:hover{
    opacity: 1;
}
.BRCCWarehouse:hover{
    opacity: 1;
}
.building9:hover{
    opacity: 1;
}
.Purchasing:hover{
    opacity: 1;
}
.FacilitiesIT:hover{
    opacity: 1;
}
.FacilitiesWarehouse:hover{
    opacity: 1;
}
.CentralPlant:hover{
    opacity: 1;
}
.building14:hover{
    opacity: 1;
}

footer{
    position: bottom;
}                          